* {
    box-sizing: border-box;
    color: white
  }
  
  body {
    font-family: 'Segoe UI';
    background: #333333;
  }
  
  h1 {
      font-size: 25px;
  }
  a {
      color: #2580e9;
      margin-left: 0px;
  }
  navhead {
      padding-left: 15px;
      font-size: 20px;
      font-weight: bold;
  }
  
  header {
      padding-left: 15px;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
    z-index: -1;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 16px;
  }
  
  article {
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 80%;
    height: auto; /* only for demonstration, should be removed */
    z-index: -1;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*grid setup*/
  .grid-container {
    display: grid;
    grid-template-columns: 15% auto auto auto;
    gap: 10px;
    background-color: #2195f300;
    margin: 10px;
  }
  
  .grid-container > div {
    background-color: #444444;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .navhead {
    grid-column: 0;
    grid-row: 0;
    padding-left: 10px;
    font-size: 15px;

}
.navbar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 0px;
}
  .header {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  .Project1 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .Project3 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .footer {
      grid-column-start: 1;
      grid-column-end: 5
  }
  
  
  /* Style the footer */
  footer {
    background-color: rgb(77, 77, 77);
    padding: 10px;
    text-align: left;
    color: white;
    border-radius: 10px;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  img {
    float: left;
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    position: fixed 10;
  }
